<ul class="list-group">
  {% for game in games %}
  <li class="list-group-item">
    <p>{{ game.time }}</p>
    <h5 class="bigga">{{ game.home_team }} vs. {{ game.away_team }} </h5>
    {% if game.status == GameStatus.completed %}
    <h5 class="bigga"><span class="label label-success">Completed</span> <span class="minitext pull-right">Downloaded in {{(game.download_end - game.download_start).seconds // 60}} minutes</span></h5>
    {% else %}
    <h5 class="bigga"><span class="label label-info">{{ game.status.value }}</span></h5>
    {% endif %}
    {% if game.status == GameStatus.downloading %}
    <br />
    <br />
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped active"
        role="progressbar"
        aria-valuenow="{{ game.current_operation_progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{ game.current_operation_progress }}%;"
      >
        <span class="sr-only"
          >{{ game.current_operation_progress }}% Complete</span
        >
      </div>
    </div>
    {% endif %} {% endfor %}
  </li>
</ul>
