<ul class="list-group">
  {% for game in games %}
  <li class="list-group-item">
    {{ game.time }} <br />
    {{ game.home_team }} vs. {{ game.away_team }} <br />
    {% if game.status == GameStatus.completed %}
    <span class="label label-success">Completed</span>
    {% else %}
    <span class="label label-info">{{ game.status.value }}</span>
    {% endif %} {% if game.status == GameStatus.downloading %}
    <br />
    <br />
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped active"
        role="progressbar"
        aria-valuenow="{{ game.current_operation_progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{ game.current_operation_progress }}%;"
      >
        <span class="sr-only"
          >{{ game.current_operation_progress }}% Complete</span
        >
      </div>
    </div>
    {% endif %} {% endfor %}
  </li>
</ul>
